<a href="/bookexchange/api.php/user/{userId}/profile/messages/{conversazioneId}#lastMessage" class="list-group-item list-group-item-action border-1">
    <div class="d-flex align-items-start">
        <img src="{destinatarioAvatar}" class="rounded-circle mr-1" alt="Sharon Lessman" width="40" height="40">
        <div class="flex-grow-1 ml-3 overflow-hidden">
            {destinatario} #{destinatarioId}
            
            <div class="small"><span class="{statoColor}"> <i class="bi-circle-fill"></i> {stato}</span> </div>
            <div class="small" style="max-height: 20px;"><span class="text-muted">{lastMessage}</span> </div>
            
        </div>
    </div>
</a>


